/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  font-family: 'Bree Serif';
  color: #1e293b;
}
.search-container {
  display: flex;
  height: 25px;
  width: 200px;
  border: 1px solid #7b8794;
}
.input {
  border: none;
  outline: none;
  background-color: transparent;
}
.search-img {
  width: 20px;
  height: 20px;
}
.tab-container {
  display: flex;

  justify-content: center;
}
.app-item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
